body * {
    font-family: 'Inter', sans-serif;
}

div#container {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid silver;
    border-radius: 10px;
    margin-bottom: 50px;
}

#container img{
    margin-bottom: 5px;
    width: 100px;
}

div#display{
    padding: 10px;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div#display input{
    width: 260px;
    height: 40px;
    margin: 5px;    
    font-size: 16px;
    text-align: center;
    border: 1px solid silver;
    border-radius: 10px;
    font-weight: 500;
}

div#entrada {
    padding: 10px;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#entrada input {
    width: 260px;
    height: 40px;
    margin: 5px;    
    font-size: 16px;
    text-align: center;
    border: 1px solid silver;
    border-radius: 10px;
}

#novosCampos {
    padding: 10px;    
    display: flex;
    justify-content: center;
    
}

#novosCampos input {
    width: 50px;
    height: 50px;   
    margin: 0 15px;
    font-size: 16px;
    text-align: center;
    border: 1px solid silver;
    border-radius: 50%;
}

#formula{
    padding: 10px;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#formula input{
    width: 260px;
    height: 40px;
    margin: 5px;    
    font-size: 16px;
    text-align: center;
    border: 1px solid silver;
    border-radius: 10px;
    font-weight: 500;
}

#result{
    padding: 10px;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#result input{
    width: 260px;
    height: 40px;
    margin: 5px;    
    font-size: 16px;
    text-align: center; 
    border: 1px solid silver;
    border-radius: 10px;
    font-weight: 500;
}

div#teclado {
    display: flex;
    padding: 30px;
    justify-content: center;
    align-items: center;
}

div#teclado button {   
    width: 110px;
    height: 50px;
    margin-left: 10px;
    background-color: white;
    color: black;
    font-size: 14px;
    border: 1px solid silver;
    border-radius: 10px;
    font-weight: 500;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
    padding: 10px;
    text-align: center;
    font-size: 13px;
    margin-top: 3%;
}

